/* global style */
*{
    margin: 0;
    padding: 0;
    
}
body{
    width:85%;
    margin: 0 auto;
}

/* ________________Shared Property Style Starts____________________ */

.title_h{
    font-weight: bold;
    font-size: 32px;
    color: rgb(14, 14, 14);
}
.title_header{
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
    margin-bottom: 20px;
}

.inovation_img{
    margin-bottom: 20px;
}

.common_h5{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    
    
}
.primary_para{
    color: rgba(14, 14, 14, 0.70);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
}
.common_btn{
    margin-top: 10px;
    padding: 11px 20px;
    
    border-radius: 8px;
    font-weight:600;
    font-size: 16px;
    color: #FFFFFF;
}

/* ________________Shared Property Style End____________________ */



/* ________________Navbar styles sections start_______________________ */

.nav_btn{
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid green;
    border-radius: 8px;
    color: green;
    font-weight:600;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-items: center; */
    /* width: 80%;
    margin: 50px auto; */
}
/* ________________Navbar-section styles  End_______________________ */

/* ________________Banner-section styles  Start_______________________ */
.banner_section{
    border: 1px solid black;
    height: 560px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex ;
    justify-content: space-around;
    align-items: center;    
}

.title_text_part{
    color: rgba(14, 14, 14, 0.5);
    margin:16px 0;
    font-size: 24px;
    font-weight: 500;
}

.header_title{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    margin:16px 0;
}
.banner_btn{
    padding: 17px 34px  ;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin:24px 0;
    border: none;
}
/* ________________Banner-section styles  End_______________________ */


/* ________________pillers of bangladesh -section styles  start_______________________ */
.pillers_of_ban_section{
   
    margin-bottom: 80px;
    
}
.pillars_container{
    display: flex;
    justify-content:flex-start;
    gap: 30px;  
}
.pillars_box1{
    background-color: rgba(241, 241, 243, 1.00);
    margin-top:50px;
    padding: 40px;
    width: 24%;
    height: 200px;
    text-align: start;
    border-radius: 16px;
}



/* ________________pillers of bangladesh -section styles  End_______________________ */


/* ________________ Vision of bangladesh styles  Start_______________________ */

.vision_of_ban_section{
   
    margin-bottom: 80px;
    
    
}
.vision_container{
    display: flex;
    justify-content:flex-start;
    gap: 40px;  
}
.vision_box1{
   
    background-color: rgb(200, 215, 240);
    margin-top:50px;
    padding: 40px;
    width: 30%;
    height: px;   
    text-align: start;
    border-radius: 16px;
}
.box1_btn{
    margin-top: 10px;
    padding: 11px 20px;
    background-color: #5490F5;
    border-radius: 8px;
    font-weight:600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}
.vision_box2{
   
    background-color: #c0f1db;
    margin-top:50px;
    padding: 40px;
    width: 30%;
    height: px;   
    text-align: start;
    border-radius: 16px;
}
.box2_btn{
    margin-top: 10px;
    padding: 11px 20px;
    background-color: #09A15C;
    border-radius: 8px;
    font-weight:600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}

.vision_box3{
   
    background-color: #F7EBCF;
    margin-top:50px;
    padding: 40px;
    width: 30%;
    height: px;   
    text-align: start;
    border-radius: 16px;
}

.box3_btn{
    margin-top: 10px;
    padding: 11px 20px;
    background-color: #FFC239;
    border-radius: 8px;
    font-weight:600;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}

/* ________________ Vision of bangladesh styles  End_______________________ */


/* ________________ Challenge styles  Start_______________________ */

.challenge_section{
    
    /* height: 500px; */
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat ;
    background-position: 40px 20px;
    margin-top: 40px;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 15px;
   
}

.challenge_para{
    padding-bottom: 20px;
}
.challenge_head{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 7px;
}

/*  ___________ Challenge styles  End_______________________ */

/*  ___________ Recent News styles  start_______________________ */

.recent_news_section{
    
    margin-bottom: 40px;
}


.recent_news_card1{

    background-color: rgb(237, 240, 240);
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    
}
.recent_img_part{
    
}
.metro_img{
    height: 270px;
    width: 400px;
    border-radius: 15px;
}

.date_time{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

/*  ___________ Recent News styles  end_______________________ */